nav {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 20px;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

nav a:hover {
    color: #007bff;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('/static/fondo.png'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif; }
.container { width: 90%; margin: auto; }
.section { margin-bottom: 20px; }
.section h2 { font-size: 18px; font-weight: bold; }
.form-container { display: flex; flex-wrap: nowrap; gap: 20px; align-items: flex-start; }
.form-group { display: flex; flex-direction: column; gap: 10px; margin-top: 50px; }
.form-group label { width: 150px; white-space: nowrap; }
.form-group select, .form-group input {
    width: 150px;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid #ccc;
    background-color: #fff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.boton-opcion {
  
    background-color: #e0e0e0;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}


.boton-opcion.seleccionado {
    background-color: #4CAF50; /* color al seleccionar (verde) */
    color:#ccc;
}
.disciplinas-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 4 columnas para las primeras filas */
    gap: 10px;
}

.disciplinas-grid .full-row {
    grid-column: span 4; /* Hace que la línea final ocupe todo el ancho */
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* La tercera fila tendrá 5 columnas */
    gap: 10px;
}

.textarea-contenedor {
    display: none;
}

.textarea-contenedor textarea {
    background-color: #f9f9f9; /* Color de fondo suave */
    border: 1px solid #aaa;
    border-radius: 10px;
    padding: 12px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1); /* Sombra sutil */
    transition: border-color 0.3s ease; /* Suavizar cambios */

    width: 450px; 
    height: 200px; 
}

.textarea-contenedor textarea:focus {
    border-color: #4A90E2; /* Cambia color del borde cuando haces click en el textarea */
    outline: none; /* Saca el borde azul feo del navegador */
}

.resumen-resultado {
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    white-space: pre-wrap;
}

.perdidas {
    color: #a10202;
    font-weight: bold;
}

.ganadas {
    color: #267b0c;
    font-weight: bold;
}

.pseudo {
    color: red;
    font-weight: bold;
}

.tabla-impacto {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.tabla-impacto th,
.tabla-impacto td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.tabla-impacto th {
    background-color: #2c3e50;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tabla-impacto tr:hover {
    background-color: #f2f2f2;
}

.positivo {
    color: green;
    font-weight: bold;
}

.negativo {
    color: red;
    font-weight: bold;
}